In [1]:
import pandas as pd
from tqdm import tqdm

tqdm.pandas()

df = pd.read_csv('data/indonesian-news-title.csv')
df.head()

,date,url,title,category
0,02/26/2020,https://finance.detik.com/berita-ekonomi-bisni...,Kemnaker Awasi TKA di Meikarta,finance
1,02/26/2020,https://finance.detik.com/berita-ekonomi-bisni...,BNI Digitalkan BNI Java Jazz 2020,finance
2,02/26/2020,https://finance.detik.com/berita-ekonomi-bisni...,"Terbang ke Australia, Edhy Prabowo Mau Genjot ...",finance
3,02/26/2020,https://finance.detik.com/moneter/d-4916133/oj...,OJK Siapkan Stimulus Ekonomi Antisipasi Dampak...,finance
4,02/26/2020,https://finance.detik.com/berita-ekonomi-bisni...,Saran Buat Anies-RK yang Mangkir Rapat Banjir ...,finance

In [ ]:
# Total rows in each category
df['category'].value_counts()

In [2]:
# Get average words in each category
df['word_count'] = df['title'].apply(lambda x: len(x.split()))
df.groupby('category')['word_count'].mean()

category
finance     8.494001
food       10.707068
health      9.733889
hot         9.100796
inet        8.015071
news       10.043850
oto         8.791923
sport       8.158046
travel      8.131457
Name: word_count, dtype: float64

In [3]:
# Get average characters in each category
df['char_count'] = df['title'].apply(lambda x: len(str(x)))
df.groupby('category')['char_count'].mean()

category
finance    54.488354
food       66.314253
health     63.867249
hot        59.409063
inet       52.488830
news       65.721508
oto        57.179101
sport      54.797619
travel     53.277761
Name: char_count, dtype: float64

In [4]:
# Is there any duplicated rows?
df[df['title'].duplicated()]

,date,url,title,category,word_count,char_count
1906,04/17/2020,https://finance.detik.com/detiktv/d-4980330/bl...,Blak-blakan Kartu Pra Kerja dan 'Nepotisme' de...,finance,9,62
3299,04/20/2020,https://finance.detik.com/detiktv/d-4983283/me...,Menteri Perdagangan Buka Kartu Stok Sembako Sa...,finance,8,55
3732,03/09/2020,https://finance.detik.com/market-research/d-49...,IHSG Diperkirakan Melemah di Awal Pekan,finance,6,39
5613,03/11/2020,https://finance.detik.com/berita-ekonomi-bisni...,Harga Emas Antam Turun Rp 3.000,finance,6,31
5779,01/22/2020,https://finance.detik.com/fintech/d-4868943/lo...,Lokasi Kantor Jadi Syarat Pinjol Dapat Izin OJK,finance,8,47
...,...,...,...,...,...,...
89764,01/18/2020,https://travel.detik.com/fototravel/d-4864101/...,Aksi Para Penunggang Kuda Menerobos Kobaran Ap...,travel,9,58
89932,04/03/2020,https://travel.detik.com/travel-news/d-4963492...,Rasakan Kenyamanan Work From Hotel di Fraser R...,travel,9,62
90206,06/03/2020,https://travel.detik.com/travel-news/d-5039514...,"New Normal, VW Cabrio Borobudur Siap Sambut Wi...",travel,8,53
90444,04/14/2020,https://travel.detik.com/fototravel/d-4977157/...,5 Negara yang Diprediksi Paling Cepat Bangkit ...,travel,9,57
90922,04/29/2020,https://travel.detik.com/galeri-foto/d-4995695...,Keindahan Musim Semi yang Dirundung Corona,travel,6,42

In [5]:
!pip install Sastrawi --quiet

WARNING: You are using pip version 21.2.3; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\ottot\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [6]:
import nltk

# Tokenizing
nltk.download('punkt')
# Stopwords removal
nltk.download('stopwords')
# Lemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')

print('Completed')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ottot\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ottot\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ottot\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\ottot\AppData\Roaming\nltk_data...

Completed

In [7]:
# Dellete "news" and "hot" category to remove any overlapping category
df.drop(df[df.category == 'news'].index, inplace=True)
df.drop(df[df.category == 'hot'].index, inplace=True)

# See category stats
df['category'].value_counts()

finance    14168
travel      6466
inet        5640
health      4919
oto         4383
food        4315
sport       2436
Name: category, dtype: int64

In [8]:
df.drop(df[df['title'].duplicated()].index, inplace=True)
df['title']

0                           Kemnaker Awasi TKA di Meikarta
1                        BNI Digitalkan BNI Java Jazz 2020
2        Terbang ke Australia, Edhy Prabowo Mau Genjot ...
3        OJK Siapkan Stimulus Ekonomi Antisipasi Dampak...
4        Saran Buat Anies-RK yang Mangkir Rapat Banjir ...
                               ...
91012    Ketumpahan Air Panas di Pesawat, Kamu Bisa Tun...
91013    Foto: Bali & 9 Destinasi Paling Instagramable ...
91014    Game Bikin Turis Ini Liburan ke Jepang untuk.....
91015    Sekeluarga Didepak dari Pesawat, Maskapai Bila...
91016    Kapal Raib di Segitiga Bermuda, Nyaris Seabad ...
Name: title, Length: 42264, dtype: object

In [9]:
import re, string

# Cleaning
def cleaning(text):
  # Case folding
  text = text.lower() 
  # Trim text
  text = text.strip()
  # Remove punctuations, special characters, and double whitespace
  text = re.compile('<.*?>').sub('', text) 
  text = re.compile('[%s]' % re.escape(string.punctuation)).sub(' ', text)
  text = re.sub('\s+', ' ', text)
  # Number removal
  text = re.sub(r'\[[0-9]*\]', ' ', text) 
  text = re.sub(r'[^\w\s]', '', str(text).lower().strip())
  # Remove number and whitespaces
  text = re.sub(r'\d', ' ', text)
  text = re.sub(r'\s+', ' ', text)

  return text

df['title'] = df['title'].apply(lambda x: cleaning(x))
df['title']

0                           kemnaker awasi tka di meikarta
1                            bni digitalkan bni java jazz
2        terbang ke australia edhy prabowo mau genjot b...
3        ojk siapkan stimulus ekonomi antisipasi dampak...
4        saran buat anies rk yang mangkir rapat banjir ...
                               ...
91012    ketumpahan air panas di pesawat kamu bisa tunt...
91013      foto bali destinasi paling instagramable tahun
91014    game bikin turis ini liburan ke jepang untuk c...
91015    sekeluarga didepak dari pesawat maskapai bilan...
91016    kapal raib di segitiga bermuda nyaris seabad b...
Name: title, Length: 42264, dtype: object

In [10]:
from nltk.tokenize import word_tokenize

df['tokens'] = df['title'].apply(lambda x: word_tokenize(x))
df['tokens']

0                     [kemnaker, awasi, tka, di, meikarta]
1                       [bni, digitalkan, bni, java, jazz]
2        [terbang, ke, australia, edhy, prabowo, mau, g...
3        [ojk, siapkan, stimulus, ekonomi, antisipasi, ...
4        [saran, buat, anies, rk, yang, mangkir, rapat,...
                               ...
91012    [ketumpahan, air, panas, di, pesawat, kamu, bi...
91013    [foto, bali, destinasi, paling, instagramable,...
91014    [game, bikin, turis, ini, liburan, ke, jepang,...
91015    [sekeluarga, didepak, dari, pesawat, maskapai,...
91016    [kapal, raib, di, segitiga, bermuda, nyaris, s...
Name: tokens, Length: 42264, dtype: object

In [11]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
from itertools import chain

stop_words = set(chain(stopwords.words('indonesian'), stopwords.words('english')))

df['tokens'].apply(lambda x: [w for w in x if not w in stop_words])

0                         [kemnaker, awasi, tka, meikarta]
1                       [bni, digitalkan, bni, java, jazz]
2        [terbang, australia, edhy, prabowo, genjot, bu...
3        [ojk, siapkan, stimulus, ekonomi, antisipasi, ...
4          [saran, anies, rk, mangkir, rapat, banjir, dpr]
                               ...
91012    [ketumpahan, air, panas, pesawat, tuntut, mask...
91013               [foto, bali, destinasi, instagramable]
91014    [game, bikin, turis, liburan, jepang, cari, ya...
91015    [sekeluarga, didepak, pesawat, maskapai, bilan...
91016     [kapal, raib, segitiga, bermuda, seabad, ketemu]
Name: tokens, Length: 42264, dtype: object

In [12]:
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

factory = StemmerFactory()
stemmer = factory.create_stemmer()
 
df['tokens'] = df['tokens'].progress_apply(lambda x: stemmer.stem(' '.join(x)).split(' '))
df['tokens']

100%|██████████| 42264/42264 [17:32<00:00, 40.15it/s]

0                      [kemnaker, awas, tka, di, meikarta]
1                          [bni, digital, bni, java, jazz]
2        [terbang, ke, australia, edhy, prabowo, mau, g...
3        [ojk, siap, stimulus, ekonomi, antisipasi, dam...
4        [saran, buat, anies, rk, yang, mangkir, rapat,...
                               ...
91012    [tumpah, air, panas, di, pesawat, kamu, bisa, ...
91013    [foto, bal, destinasi, paling, instagramable, ...
91014    [game, bikin, turis, ini, libur, ke, jepang, u...
91015    [keluarga, depak, dari, pesawat, maskapai, bil...
91016    [kapal, raib, di, segitiga, muda, nyaris, abad...
Name: tokens, Length: 42264, dtype: object

In [14]:
import numpy as np
save = np.save("tokenized.npy",df['tokens'])

In [16]:
from sklearn.model_selection import train_test_split
df['joined_tokens'] = df['tokens'].apply(lambda x: ' '.join(x))
X_train, X_test, y_train, y_test = train_test_split(df['joined_tokens'], df['category'], test_size=0.3, random_state=42)

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(use_idf=True, min_df=0.0001, max_df=0.02, lowercase=False)

X_train_vectors_tfidf = tfidf_vectorizer.fit_transform(X_train) 
X_test_vectors_tfidf = tfidf_vectorizer.transform(X_test)

print('Train size: ', X_train_vectors_tfidf.shape)
print('Test size: ', X_test_vectors_tfidf.shape)

Train size:  (29584, 6379)
Test size:  (12680, 6379)

In [18]:
y_train.value_counts()

finance    9824
travel     4450
inet       3977
health     3468
food       3085
oto        3072
sport      1708
Name: category, dtype: int64

In [19]:
from imblearn.over_sampling import SMOTE

X_train_resampled, y_train_resampled = SMOTE(random_state=42).fit_resample(X_train_vectors_tfidf, y_train)

In [20]:
y_train_resampled.value_counts()

travel     9824
oto        9824
finance    9824
inet       9824
health     9824
sport      9824
food       9824
Name: category, dtype: int64

In [21]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

clf = SVC(kernel='rbf')
history = clf.fit(X_train_resampled, y_train_resampled)

y_pred = clf.predict(X_test_vectors_tfidf)

print('Accuracy score : ', accuracy_score(y_test, y_pred))
print('Precision score : ', precision_score(y_test, y_pred, average='weighted'))
print('Recall score : ', recall_score(y_test, y_pred, average='weighted'))
print('F1 score : ', f1_score(y_test, y_pred, average='weighted'))

Accuracy score :  0.851813880126183
Precision score :  0.8537693004036402
Recall score :  0.851813880126183
F1 score :  0.850900878288006

In [ ]:
epochs = len(history.support_)
fig, ax = plt.subplots()
ax.plot(range(1, epochs + 1), history.dual_coef_.ravel())
ax.set_xlabel('Epochs')
ax.set_ylabel('Dual coefficients')
ax.set_title('Training and validation accuracy')
ax.legend(['Training accuracy', 'Validation accuracy'])
plt.show()

In [ ]:
import pickle
filename = 'SVM_model.sav'
pickle.dump(model, open(filename, 'wb'))